Import Apache Cassandra python package

In [1]:
import cassandra
from cassandra.cluster import Cluster

Create a connection to the database

In [2]:
cluster = Cluster(['127.0.0.1']) 
session = cluster.connect()

Create a keyspace to do the work in

In [3]:

session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
    )

Connect to the Keyspace

In [4]:
session.set_keyspace('udacity')

You need to create a table to be able to run the following query:

`select * from songs WHERE year=1970 AND artist_name="The Beatles"`

In [5]:
query = "CREATE TABLE IF NOT EXISTS songs "
query = query + "(artist_name text, album_name text, song_title text, single text, year int, PRIMARY KEY (year, artist_name))"
session.execute(query)

Insert the following two rows in your table

`First Row: "1970", "Let It Be", "The Beatles", "Across The Universe", "False", `

`Second Row: "1965", "Think For Yourself", "The Beatles", "Rubber Soul", "False"`

In [11]:
query = "INSERT INTO songs (artist_name, album_name, song_title, single, year)" 
query = query + " VALUES (%s, %s, %s, %s, %s)"

session.execute(query, ('The Beatles','Across The Universe', 'Let It Be', 'False', 1970))
session.execute(query, ('The Beatles','Rubber Soul','Think For Yourself', 'False', 1965))

Validate your data was inserted into the table.

In [12]:
query = 'SELECT * FROM songs'
rows = session.execute(query)
    
for row in rows:
    print(row.year, row.album_name, row.artist_name)

1965 Rubber Soul The Beatles
1970 Across The Universe The Beatles

Validate the Data Model with the original query.

`select * from songs WHERE YEAR=1970 AND artist_name="The Beatles"`

In [13]:
query = "select * from songs WHERE YEAR=1970 AND artist_name='The Beatles'"
rows = session.execute(query)
    
for row in rows:
    print (row.year, row.album_name, row.artist_name)

1970 Across The Universe The Beatles

### And Finally close the session and cluster connection

In [14]:
session.shutdown()
cluster.shutdown()